---
apiVersion: v1
kind: Service
metadata:
  name: promtail
spec:
  selector:
    app: promtail
  ports:
    - protocol: TCP
      port: 3101
      targetPort: http-metrics
      name: http-metrics
  type: ClusterIP
