---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      containers:
        - name: vaultwarden
          image: vaultwarden/server@sha256:a66735efe15d3a7ea63b5b3fe6913058756771349f6056e1be1ab7b4ef244b21
          ports:
            - containerPort: 80
          volumeMounts:
            - name: data-volume
              mountPath: /data
              subPath: vaultwarden
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: data-pvc
