---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ntfy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ntfy
  template:
    metadata:
      labels:
        app: ntfy
    spec:
      nodeSelector:
        kubernetes.io/hostname: vps
      tolerations:
        - key: "dedicated"
          operator: "Equal"
          value: "vps"
          effect: "NoSchedule"
      containers:
        - name: ntfy
          image: binwiederhier/ntfy:v2.17.0
          args: ["serve"]
          env:
            - name: TZ
              value: "Asia/Makassar"
          ports:
            - containerPort: 80
          volumeMounts:
            - name: data-volume
              mountPath: /var/cache/ntfy
              subPath: ntfy/cache
            - name: data-volume
              mountPath: /etc/ntfy
              subPath: ntfy/config
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: data-pvc
