---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: memos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: memos
  template:
    metadata:
      labels:
        app: memos
      annotations:
        io.containerd.runc.v2.group: "zeropod"
        zeropod.ctrox.dev/container-names: "memos"
        zeropod.ctrox.dev/ports-map: "memos=5230"
        zeropod.ctrox.dev/scaledown-duration: 10s
    spec:
      runtimeClassName: zeropod
      nodeSelector:
        kubernetes.io/hostname: vps
      tolerations:
        - key: "dedicated"
          operator: "Equal"
          value: "vps"
          effect: "NoSchedule"
      containers:
        - name: memos
          image: neosmemo/memos:0.26.2
          ports:
            - containerPort: 5230
          volumeMounts:
            - name: data-volume
              mountPath: /var/opt/memos
              subPath: memos
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: data-pvc
