---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metube
  template:
    metadata:
      labels:
        app: metube
      annotations:
        io.containerd.runc.v2.group: "zeropod"
        zeropod.ctrox.dev/container-names: "metube"
        zeropod.ctrox.dev/ports-map: "metube=8081"
        zeropod.ctrox.dev/scaledown-duration: 30s
    spec:
      runtimeClassName: zeropod
      containers:
        - name: metube
          image: ghcr.io/alexta69/metube:2026.02.08
          ports:
            - containerPort: 8081
          volumeMounts:
            - name: download-volume
              mountPath: /downloads
              subPath: public/downloads/metube
      volumes:
        - name: download-volume
          persistentVolumeClaim:
            claimName: media-pvc
