---
apiVersion: v1
kind: Service
metadata:
  name: alloy
spec:
  selector:
    app: alloy
  ports:
    - protocol: TCP
      port: 12345
      targetPort: http-metrics
      name: http-metrics
  type: ClusterIP
