---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: vault-auth-token
  namespace: external-secrets
spec:
  encryptedData:
    token: AgDBF9+ptVCo4twaNd6em/ay2iipzzZdUKdS7G9rH2XGPoJ7qFumXeFEtE7HWRenN9m+HzSqSfnYOizOV9jA1RYUgHjy0wKxTbBUYWJMcWIW6vGpq1r+iNFyRQLW5QQNsHe9KX7Cg5obXL5GU+P+Etv8PsgUox87K9lXTKlnW04Fwbu2JLYwLU2Obv9qy/4jQfyrKmYJ5C4WklISnqenNKV/RspgiDk7pqaOnoZ3d+JXIFXlFm0Lj7vhr+bOLPAklTRpMb7E+D7SUq5HIOcyinyo/TaxrA0MJY/c/ANbCzVa71y4OfWKcFPsn61172PQcEFw97XgSb58/o1LOufAdi+Y8qjvR9sjF68jubkCxzdaV7r0a8eECwwvtXGWMDCI2zKxfJEO8N+/D4DHr1DACktVRdiUslX7MmPxNnPchL8Yf4IKY+8MYUJSneMNmOku2yiNOLi1tqAcze/G7vJ7TiityZ/iEGenngBxFghbWx+m/WVwUYM3xBg3677tupGzaFO5EgkO0/l9Xqt9l0x8VFkxlPpDFVyHzwjzlmxXLCuwSVxrYhjGv37bs3pq8hDMI5rEHGd88c0BhbQp+ImqLslmCbiOp2Djz/sGHdo5yfGTbBejCEhNr2ncN1J1fmUef+mFWemSaxM5CAvjU44qlXk6Tq2c8Czsko11MeaGqx7D35Ai7o40YoLnxNmWL3kuzGXd/BZO6AGLByHVOJoC3VtHKBSQJ5Sp/Vh+Qcya
  template:
    metadata:
      name: vault-auth-token
      namespace: external-secrets
---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault-backend
spec:
  provider:
    vault:
      server: "https://vault.${DOMAIN}"
      version: "v2"
      auth:
        tokenSecretRef:
          name: vault-auth-token
          key: token
          namespace: external-secrets
